@model AppMercadoBasico.Models.Customer;

<div class="mb-3">
    <label asp-for="@Model.Name" class="form-label"></label>
    <input type="Text" asp-for="@Model.Name" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="@Model.Surname" class="form-label"></label>
    <input type="Text" asp-for="@Model.Surname" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="@Model.Email" class="form-label"></label>
    <input type="Text" asp-for="@Model.Email" class="form-control">
</div>