@model AppMercadoBasico.ViewModels.ViewModel

@{
    ViewData["Title"] = "Customers List";
}

<div class="container-md col-4">
    <a class="btn btn-primary" asp-controller="Customers" asp-action="Create">New Customer</a><partial name="_Error" />
</div>
<div class="container-md col-4 mt-4">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            @foreach (var customer in @Model.CustomerList)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Surname</td>
                    <td>@customer.Email</td>
                    <td>
                        <a asp-controller="Customers" asp-action="Edit" asp-route-id="@customer.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="Customers" asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
